{% extends 'base.html' %}


{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="d-flex w-100 justify-content-center py-4">
            <div class="card card-body shadow-sm" style="max-width: 500px">
                <h3>Редактирование профиля</h3>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <button type="submit" class="btn btn-dark">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}