{% extends 'base.html' %}

{% load custom_tags_extra crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="d-flex gap-2">
        <div class="dropdown" id="sortDropdown">
            <button class="btn btn-outline-dark dropdown-toggle" id="sort" data-bs-toggle="dropdown">
                 сортировка
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?order_by=-release_year">По убыванию даты создания</a>
                <a class="dropdown-item" href="?order_by=release_year">По возрастанию даты создания</a>
            </div>
        </div>

        <div class="dropdown" id="ListDropDown">
            <button class="btn btn-dark" id="filter" data-bs-toggle="dropdown">
                Фильтры
            </button>
            <div class="dropdown-menu"  style="width: 20rem">
                <form class="px-4 py-3">
                    {{ filter.form|crispy }}
                    <button type="submit" class="btn btn-dark">найти</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="row w-100">
        {% for manga in mangas %}
            <a href="{% url 'manga_detail' manga.pk %}" class="col-4">
                <div class="card manga-card">
                    <img
                        src="{{ manga.manga_cover.url }}"
                        class="manga-image" alt="..."
                    >
                    <div class="card-body">
                        <h5 class="card-title">{{ manga.name }}</h5>
                        <i>год выпуска {{ manga.release_year }}</i>
                        <p class="card-text">{{ manga.description|cut_description }}</p>
                    </div>
                </div>
            </a>

        {% empty %}
            <p>Пусто</p>
        {% endfor %}
    </div>
</div>

{% endblock%}
