{% extends 'base.html' %}
{% load custom_tags_extra %}

{% block content %}

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#home">
                Информация
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile">
                Главы
            </button>
        </li>
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact">
                Обсуждение
            </button>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="home">
        <div class="my-3">
            <div class="row mt-3">
                <div class="col-4">
                    <img src="{{ manga.manga_cover.url }}" class="rounded" width="100%" height="100%" style="object-fit: cover" alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h4 class="card-title">
                          {{ manga.name }}
                        </h4>
                        <div class="d-flex gap-2 py-2">
                            <a class="btn btn-dark" href="{% url 'chapter_create_manga_bounded' manga.pk %}">
                                Добавить главу
                            </a>
                            <a class="btn btn-dark" href="{% url 'manga_update' manga.pk %}">
                                Редактировать
                            </a>
                        </div>

                        <b>Описание:</b>
                        <p class="card-text">{{manga.description}}</p>

                        <ul>
                            <li>дата выхода : {{manga.release_year}}</li>
                            <li>статус : {{manga.status}}</li>
                            <li>автор : {{manga.author}}</li>
                            <li>художник : {{manga.painter}}</li>
                            <li>формат :
                                {% for elem in manga.release_format.all %}
                                    {{ elem }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </li>
                        </ul>

                        <div class="d-grid gap-2">
                            {% with volume=manga.get_ordered_related_volumes %}
                                {% with first_volume=volume.first first_chapter=volume.first.get_ordered_related_chapters.first %}
                                  {% if first_volume and first_chapter %}
                                    <a href="{% url 'chapter_detail' m_pk=manga.pk volume=1 chapter=1 page=1%}"
                                        class="btn btn-info" type="button">
                                        <h4>Начать читать с первой главы</h4>
                                    </a>
                                  {% endif %}
                                {% endwith %}

                                {% with last_volume=volume.last last_chapter=volume.last.get_ordered_related_chapters.last %}
                                  {% if last_volume and last_chapter %}
                                    <a href="{% url 'chapter_detail' m_pk=manga.pk volume=last_volume.number chapter=last_chapter.number page=1%}" class="btn btn-warning" type="button"><h4>Начать читать с последней главы</h4></a>
                                  {% endif %}
                                {% endwith %}
                            {% endwith %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="list-group">
        {% for volume in manga.get_ordered_related_volumes %}
          {% for chapter in volume.get_ordered_related_chapters %}
            <a href="{% url 'chapter_detail' m_pk=manga.pk volume=volume.number chapter=chapter.number page=chapter.get_ordered_related_pages.first.number %}" class="list-group-item list-group-item-action">
              Том {{ volume.number }} Глава {{ chapter.number}} - {{chapter.title}}
            </a>
          {% endfor %}
        {% endfor %}
      </div>
  </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <h3 class="text-muted">Empty</h3>
        </div>
    </div>
</div>
{% endblock %}