{% extends 'base.html' %}

{% load custom_tags_extra crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="d-flex gap-2">
        <div class="dropdown" id="sortDropdown">
            <button class="btn btn-outline-dark dropdown-toggle" id="sort" data-bs-toggle="dropdown">
                 сортировка
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="?order_by=-release_year">По убыванию даты создания</a>
                <a class="dropdown-item" href="?order_by=release_year">По возрастанию даты создания</a>
            </div>
        </div>

        <div class="dropdown" id="ListDropDown">
            <button class="btn btn-dark" id="filter" data-bs-toggle="dropdown">
                Фильтры
            </button>
            <div class="dropdown-menu"  style="width: 20rem">
                <form class="px-4 py-3">
                    {{ filter.form|crispy }}
                    <button type="submit" class="btn btn-dark">найти</button>
                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="row row-cols-4">
        {% for manga in mangas %}
            <div class="col">
              <div class="card" style="width: 14rem;">
              <img src="{{manga.manga_cover.url}}" class="img-thumbnail" alt="...">
              <div class="card-body">
              <div class="d-flex justify-content-center">
                  <a href="{% url 'manga_detail' manga.pk %}"
                     class="btn btn-dark"
                     data-bs-toggle="tooltip"
                     data-bs-html="true"
                     data-bs-placement="auto"
                     data-bs-title="
                            <div class='card bg-transparent'>
                            <div class='card-body'>
                            <div class='text-white'>
                              <h5 class='card-title'>{{manga.name}}</h5>
                              <p class='card-text'>{{manga.description|cut_description}}</p>
                              <p class='card-text'><small>{{manga|verbose_name:'release_year'}} : {{manga.release_year}}</small></p>
                              <p class='card-text'><small>{{manga|verbose_name:'status'}} : {{manga.status}}</small></p>
                              <p class='card-text'><small>{{manga|verbose_name:'author'}} : {{manga.author}}</small></p>
                              <p class='card-text'><small>{{manga|verbose_name:'painter'}} : {{manga.painter}}</small></p>
                            </div>
                            </div>
                            </div>">
                     {{ manga.name }}</a>
            </div>
          </div>
      </div>
    </div>
    {% empty %}
    <p>Пусто</p>

    {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

$('#ListDropDown').click(function(e){
    e.stopPropagation();
})
</script>

{% endblock %}
