{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include '_layout/links.html' %}
        <title>MangaRead</title>
    </head>
    <body>
        {% include '_layout/navbar.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include '_layout/footer.html' %}

        {% block script %}{% endblock %}
    </body>

    {% include '_layout/global_styles.html' %}

    <style>
        .manga-image {
            object-fit: cover;
            height: 40vh;
        }

        .manga-card {
            padding: 0 0;
            overflow: hidden;
        }
    </style>
</html>
