{% extends 'base.html' %}

{% load custom_tags_extra %}

{% block content %}

<div class="container">
  <h1></h1>
  <div class="row row-cols-4">
  <div class="col">
      <select class="form-select" onchange="location = this.value;">
          <option selected hidden="">Cортировать</option>
          <option value="/">По дате загрузки</option>
      </select>
  </div>
  <div class="col">
    <div class="dropdown" id="ListDropDown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Фильтры
      </button>
      <div class="dropdown-menu">
      <form class="px-4 py-3">
        {{filter.form.as_p}}
        <input type="submit" value="Найти">
      </form>
      </div>
    </div>
  </div>
</div>
  <h1></h1>
  <div class="row row-cols-5 g-5">
    {% for manga_object in manga_objects%}
    <div class="col">
      <div class="p border bg-light">
      <div class="card" style="width: 14rem;">
      <img src="{{manga_object.manga_cover.url}}" class="img-thumbnail" alt="...">
      <div class="card-body">
      <div class="d-flex justify-content-center">
              <a href="{% url 'manga_detail' manga_object.pk %}" class="btn btn-primary" data-bs-toggle="tooltip"
      data-bs-html="true" data-bs-placement="auto" 
      title="<div class='card bg-transparent'>
                <div class='card-body'>
                  <h5 class='card-title'>{{manga_object.name}}</h5>
                  <p class='card-text'>{{manga_object.description|cut_description}}</p>
                  <p class='card-text'><small class='text-muted'>{{manga_object|verbose_name:'release_year'}} : {{manga_object.release_year}}</small></p>
                  <p class='card-text'><small class='text-muted'>{{manga_object|verbose_name:'status'}} : {{manga_object.status}}</small></p>
                  <p class='card-text'><small class='text-muted'>{{manga_object|verbose_name:'author'}} : {{manga_object.author}}</small></p>
                  <p class='card-text'><small class='text-muted'>{{manga_object|verbose_name:'painter'}} : {{manga_object.painter}}</small></p>
                </div>
              </div>
            </div>"
      >{{ manga_object.name }}</a>
      </div>
    </div>
  </div>
      </div>
    </div>
    {% empty %}
    <p>Пусто</p>

    {% endfor %}
  </div>
</div>


<script type="text/javascript">
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
$('#ListDropDown').click(function(e){
    e.stopPropagation();
})
</script>
{% endblock%}
